
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #F8F9FC;
  --color-secondary: #E1E6FE;
  --color-action: #8767F3;
  --color-white: #ffffff;
  --color-black: #000000;
}
/* Global styles */
body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
}
button {
  /* Annule les styles par défaut du navigateur */
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  /* Vos styles personnalisés ici */
  width: 100%;
  display: block;
  padding: 10px;
  background-color: var(--color-action);
  color: #fff;
  border-radius: 2px;
  transition: background-color 0.3s;
  margin: 10px;
}



/* BEM styles for the message app */
.message-app {
  &__header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }

  &__title {
    margin: 0;
    font-size: 24px;
  }

  &__login-button {
    background-color: (--color-action);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
  }

  &__login-button:hover {
    background-color: #0056b3;
  }

  &__main {
    padding: 20px;
    text-align: center;
  }

  &__recipient-label {
    font-size: 18px;
    margin-right: 10px;
  }

  &__recipient-dropdown {
    font-size: 16px;
    padding: 5px;
  }
}



.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.65);
  margin: 0 auto 10px;
  border-radius: 25px; /* Ajout de border-radius */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 40px;
  width: 274px;
  margin-top: 10rem;
  transition: transform 0.3s ease;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-container.hiding {
  transform: translateX(100%);
}

.form-container h2 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.form-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.form-container input[type=text], .form-container input[type=email], .form-container input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 3px; /* Ajout de border-radius */
}

.form-container input[type=text]:hover, .form-container input[type=email]:hover, .form-container input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  border-radius: 3px; /* Ajout de border-radius */
}

.login-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: var(--color-action);
  transition: background-color 0.3s ease;
  border-radius: 3px; /* Ajout de border-radius */
  button {

  }
}

.login-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.form-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.form-container a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
















